*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;}body{
    background-color: #fab22e;
}
.wrapper
{
    width: 80vmin;
    padding: 50px 40px;
    background-color: #15161a;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}
span{
    display: block;
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height:35px;
    margin: 30px 0;
}
button{
    display: block;
    background-color: #fab22e;
    margin: 0 auto;
    padding: 5px;;
    font-size: 18px;
    font-weight: 600;
    color: #171721;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(250,178,46,0.4);
}